/* GLOBAL */
* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  /* margin-left: 5rem;
  margin-right: 2rem; */
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Nav Bar styles */
/* .logoNav {
  width: 100%;
} */

nav {
  font-family: "Montserrat", sans-serif;
}
.nav-container {
  /* margin-left: 144px;
  margin-right: 144px; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.logButton {
  background-color: #32a7ad;
}

.logOutButton {
  background-color: #32a7ad;
}

.logButton:hover {
  background-color: #1a9096;
}

.logOutButton:hover {
  background-color: #1a9096;
}

/* Log In style*/
.loginForm {
  box-shadow: 5px 2px 5px 2px lightgrey;
}

/* LANDING PAGE */
/* Jumbotron */
.jumbotron {
  padding: 0px 40px 0px 40px;
}

/* .joinCause {
  background-color: lightgray;
}

.joinCause:hover {
  background-color: yellow;
} */
/* .actionContainer {
  background-color: thistle;
} */

.signUpCTA {
  text-decoration: none;
}

/* .disco {
  background-color: thistle;
} */

.signUpForm {
  box-shadow: 4px 2px 3px 4px lightgray;
}

/* DASHBOARD PAGE */

/* .dashboard {
  background: antiquewhite;
}

.happeningNow {
  color: #32A7AD;
} */

.mainTweet {
  color: aqua;
}

.h5 {
  font-weight: bolder;
}

a {
  color: #0d6efd;
  text-decoration: none !important;
}

.sb {
  text-decoration: none;
  color: aqua;
}

.roundImg {
  border-radius: 50%;
}

/* USER POST */
.disclaimer {
  font-size: 12px;
}

/* Footer style*/
.prefooter {
  background: #f4f4f4;
}

.footMain {
  color: #32a7ad;
}

.fab {
  color: #e34736;
}
.fab:hover {
  color: #d43b2a;
}

.sm {
  text-decoration: none;
  color: #000000;
}

.footsies {
  @include media-breakpoint-up(sm) {
    width: 6rem;
  }
}

.form-input {
  width: 100% !important;
}

#p_wrap {
  white-space: pre-line;
}

.postDetails {
  color: rgb(101, 110, 119);
  margin-bottom: 0 !important;
  font-size: 12px;
  height: 14px;
}

.posthr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

textarea {
  outline: none;
  resize: none;
}

.commentBtn {
  background-color: #32a7ad;
  margin-top: 40%;
  /* height: 3rem; */
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  /* border-radius: .2rem; */
}

.name {
  width: auto !important;
  margin-bottom: 0.1rem !important;
}

.bold {
  font-weight: 700 !important;
}

.date {
  width: auto !important;
  margin-bottom: 0.1rem !important;
  font-size: 0.65rem;
  text-align: center !important;
}

#endDate {
  /* color: #dc3545; */
  font-weight: bolder;
  font-size: 0.85rem;
  width: auto !important;
  display: inline;
}

.datepicker_main div div input {
  width: 100% !important;
}

.dropdown_filter {
  width: 100% !important;
  padding: 0.375rem 0.4rem !important;
}

.post-img {
  max-width: 750px;
  max-height: 500px;
}

.card-footer {
  /* border: none; */
  background-color: transparent;
}
